<style>
    
    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
      
    }
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    
    }
  .card {
      all: unset;
      border-radius: 4px;
      border: 1px solid rgb(238, 238, 238);
      background-color: #fafafa;
      
      width: 200px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
    
    a,
    a:visited,
    a:hover {
      color: #38d219;
      text-decoration: none;
    }
  
    a:hover {
      color: #991256;
    }
     
  </style>
  
  <div class="content" role="main" >
    <div class="card-container">
      <a class="card" href=" "   routerLink="/hostel" routerLinkActive="active">
        <span >Hostel Details</span></a>
      
      <a class="card" href=""  routerLink="/rooms" routerLinkActive="active">
          <span>Rooms Status</span></a> 
      
      <a class="card" href=""   routerLink="/bookings" routerLinkActive="active">
          <span>Booking Detaiks</span></a>
      <a class="card" href=" "    routerLink="/payments" routerLinkActive="active">
          <span> Payments</span></a>
      <a class="card" href=""    routerLink="/transactions" routerLinkActive="active">
          <span>Transactions</span></a>
      
    </div>
    
  </div>
  
  



